<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tales From 616</title>
    <link href="/styles/home-styles.css" rel="stylesheet" type="text/css" />
    <link href="/styles/base.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Always use ../ to access the upper level directory -->
  </head>
  <body>
    <!------------------------------------------------------------------------->
    <!--Navbar-->

    <div id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/stories-routes">Stories</a></li>
      </ul>
      <div class="home-title-container">
        <h1 class="home-title"><a href="/">Tales From 616</a></h1>
      </div>
    </div>

    <!------------------------------------------------------------------------->

    <main>
      <!-- <div class="home-form">
        <form action="/submit-form" method="POST">
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required />
          <label for="email">Email</label>
          <input type="text" id="email" name="email" required />
          <label for="name">Optional message</label>
          <input type="text" id="message" name="message" />
          <br />
          <div id="home-form-button"><button type="submit">Submit</button></div>
        </form>
      </div> -->

      <div id="home-hero">
        <H1>TALES FROM 616</H1>
      </div>

      <div class="paragraph-text">
        <p>
          We write stories. <br />
          Our stories are on this website! <br />
          Click on the stories tab in the navbar to view our stories.
          <br />
          <br />
          - Nico Sommer & Max Emrich.
        </p>
      </div>
    </main>
    <div class="spacer"></div>

    <!------------------------------------------------------------------------->

    <footer id="homepage-footer">
      <p>Contact: Maxfisherbear@gmail.com</p>
      <a href="/admin/goto-admin-register">Register an Admin Account</a>
      <a href="/admin/goto-admin-login">Login to an Admin Account</a>
    </footer>
  </body>
</html>
