<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/base.css" rel="stylesheet" type="text/css" />
    <link href="/styles/about-us.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    " />
  </head>
  <body>
    <!------------------------------------------------------------------------->
    <!--Navbar-->

    <%- include("navbar.ejs") %>

    <!------------------------------------------------------------------------->
    <div id="about-us-header">
      <h1>ABOUT US</h1>
    </div>
    <main>
      <div id="main-container">
        <img id="img-1" src="/images/max&nico.jpg" alt="Max & Nico" />

        <div id="about-us-explainer">
          <p id="explainer-text">
            Hello! My name is Max Emrich (left) and this is my friend Nico
            Sommer (right). We are freshmen at Oregon State University. We
            currently live in Corvallis, Oregon.
            <br />
            <br />
            I am currently studying electrical engineering while Nico is doing a
            double major in Philopshy and Sociology.
            <br />
            <br />
            We both love writing and storytelling, and we started this website
            in the winter of 2024 to upload our personal writing projects.
            <br />
            <br />
            If you have any questions about our writing, this website, or
            general inquires, please contact us at
            <u>maxfisherbear@gmail.com</u>.
            <br />
            <br />
            Enjoy this very blurry image of us.
            <br />
            <br />
            <hr>
            <br />
            <br />
            P.S. - This website was my first major programming project. Just FYI, the backend for this site is very gross to look at. All of the code for this site is on my GitHub
            account, where my username is <u>MaxEmrich</u>.
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
