<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/base.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    " />
    <link
      href="/styles/article-template.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Tales From 616 - Stories</title>
  </head>
  <body>
    <!------------------------------------------------------------------------->
    <!--Navbar-->
    <%- include("navbar.ejs") %>
    <!------------------------------------------------------------------------->
    <h1 id="storyTitle"><%=storyInfo.story_name%></h1>
    <div id="articleContainerDiv">
      <pre id="articleElement"><%=storyInfo.story_data%></pre>
    </div>
  </body>
</html>
