<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/styles/base.css" rel="stylesheet" type="text/css" />
    <link
      href="/styles/article-template.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Tales From 616 - Stories</title>
  </head>
  <body>
    <!------------------------------------------------------------------------->
    <!--Navbar-->
    <div id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/stories-routes">Stories</a></li>
      </ul>
      <div class="home-title-container">
        <h1 class="home-title"><a href="/">Tales From 616</a></h1>
      </div>
    </div>

    <!------------------------------------------------------------------------->
    <h1 id="storyTitle"><%=storyInfo.story_name%></h1>
    <div id="articleContainerDiv">
      <pre id="articleElement"><%=storyInfo.story_data%></pre>
    </div>
  </body>
</html>
