<!DOCTYPE html>
<html>
  <head>
    <title>Editing Template</title>
  </head>
  <body>
    <script type="text/javascript" src="/dom.js"></script>
    <%- include("navbar.ejs") %> Extra Text Here
  </body>
</html>
