<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tales From 616</title>
    <link href="/styles/stories-page.css" rel="stylesheet" type="text/css" />
    <link href="/styles/base.css" rel="stylesheet" type="text/css" />
    <!-- Always use ../ to access the upper level directory -->
  </head>
  <body>
    <script type="text/javascript" src="/dom.js"></script>
    <!------------------------------------------------------------------------->
    <!--Navbar-->

    <div id="navbar">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
      <div class="home-title-container">
        <h1 class="home-title"><a href="/">Tales From 616</a></h1>
      </div>
    </div>

    <!----------------------------------------------------------------------------->
    <div id="article-header-container">
      <h1 id="article-header-h1">STORIES</h1>
    </div>
    <div id="stories">
      <ul id="stories-list">
        <% for(let i = 0; i < result.length; i++) { %> <% let currentStory =
        result[i].story_name; %>
        <li>
          <a class="selectStoryButton"><%= currentStory %> </a>
        </li>
        <% } %>
      </ul>
    </div>
    <!-- <div id="stories-image">
      <img id="stories-main-img" src="../images/616 logo.jpg" />
    </div> -->
  </body>
</html>
