<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tales From 616</title>
    <link href="/styles/stories-page.css" rel="stylesheet" type="text/css" />
    <link href="/styles/base.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    " />
    <!-- Always use ../ to access the upper level directory -->
  </head>
  <body>
    <script type="text/javascript" src="/dom.js"></script>
    <!------------------------------------------------------------------------->
    <!--Navbar-->
    <%- include("navbar.ejs") %>
    <!----------------------------------------------------------------------------->
    <div id="article-header-container">
      <h1 id="article-header-h1">STORIES</h1>
    </div>
    <div id="stories">
      <ul id="stories-list">
        <% for(let i = 0; i < result.length; i++) { %> <% let currentStory =
        result[i].story_name; %>
        <li>
          <a class="selectStoryButton"><%= currentStory %> </a>
        </li>
        <% } %>
      </ul>
    </div>
    <!-- <div id="stories-image">
      <img id="stories-main-img" src="../images/616 logo.jpg" />
    </div> -->
  </body>
</html>
