#articleContainerDiv {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  height: 50vh;
}

#articleElement {
  justify-content: center;
  align-content: center;
}
