#articleContainerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

#articleElement {
  margin-top: 1rem;
  width: 60vw;
  justify-content: center;
  align-content: center;
  letter-spacing: 0.05rem;
  line-height: 2rem;
  flex-wrap: wrap;
}

#storyTitle {
  display: flex;
  justify-content: center;
}

pre {
  display: flex;
  flex-wrap: wrap;
  white-space: pre-wrap;
}
