* {
  font-family: "Lato", sans-serif;
  font-style: normal;
}

html {
  font-size: 16px; /* Set the base font size for the document */
  display: flex;
  justify-items: center;
  justify-content: center;
  /* width: calc(100vw - 16px);
    height: calc(100vh - 16px); */
}

body {
  font-size: 1rem; /* 1rem is equal to 16px (base font size) */
  justify-content: center;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem; /* 2rem is equal to 32px (2 times the base font size) */
}

p {
  font-size: 0.875rem; /* 0.875rem is equal to 14px (0.875 times the base font size) */
}

#navbar {
  display: flex;
  background-color: black;
  height: 6rem;
  flex: 0 0 auto;
  padding: 0; /* Remove default padding */
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  align-items: center;
}

#navbar h1 a {
  text-decoration: none;
  color: white;
}

#navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 3rem;
  overflow: hidden;
  align-items: center;
}

#navbar li {
  margin-right: 5px; /* Adjust the margin to control the spacing between links */
  margin: 0; /* Remove default margin */
  padding: 10px 0px; /* Remove default padding */
}

#navbar li a {
  color: white;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 14px 16px;
  text-decoration: underline;
  text-underline-offset: 2px;
}

#navbar li:first-child {
  margin-left: 10px;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
  background-color: #111;
}

#navbar .home-title-container {
  margin-left: auto;
  margin-right: 4rem;
}

#navbar .home-title {
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
}
