/* ----------------------------------------------------------------------------------------------------------- */

main {
  margin: 0;
  display: flex;
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#home-image {
  display: flex;
  justify-content: center;
  margin-top: 0.2rem;
  margin-bottom: 1rem;

  animation: fadeIn 5s;
  border: 3px solid #000000;
  border-radius: 4px;
  filter: drop-shadow(8px 8px);
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

#home-main-img {
  width: 20rem;
  height: 20rem;
  animation: fadeIn 2s;
}

#home-main-text {
  text-decoration: underline;
  margin-bottom: 1rem;
  margin-top: 2rem;
  justify-content: center;
}

.paragraph-text {
  justify-content: center;
  font-weight: bold;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

.spacer {
  height: 50vh; /* Set the height of the spacer to fill the remaining viewport height */
}

#homepage-footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #333;
  flex-direction: column;
}

#homepage-footer a {
  margin-left: 10px;
  margin-bottom: 10px;
}

#homepage-footer p {
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
}
