* {
  color: black;
}

body {
  background: linear-gradient(0deg, white, #e5e5e5 95%) no-repeat;
  height: 100vh;
}

#article-header-container {
  height: 40vh;
  display: flex;
  justify-content: left;
  align-items: center;
}

#article-header-h1 {
  font-size: 4rem;
  letter-spacing: 0.35rem;
  margin-left: 4rem;
}

#stories li a:hover {
  background-color: rgb(0, 0, 0);
  font-size: larger;
  color: white;
  transition: 0.5s ease;
}

#stories-image {
  display: flex;
  justify-content: right;
  margin-top: 0.2rem;
  margin-bottom: 1rem;
  width: 10rem;

  animation: fadeIn 5s;
  border: 3px solid #000000;
  border-radius: 4px;
  filter: drop-shadow(8px 8px);
}

#stories-main-img {
  width: 10rem;
  height: 10rem;
  animation: fadeIn 2s;
}

#stories {
  display: flex;
  justify-content: left;
}

#stories-list {
  display: flex;
  flex-direction: column;

  margin: 0px;
  margin-left: 6rem;
  padding: 0px;
  list-style-type: none;
  justify-content: center;
}

#stories-list ul {
  flex-direction: column;
}

#stories-list li {
  margin-top: 3rem;
}

#stories-list li a {
  letter-spacing: 2px;
  cursor: pointer;
}
