* {
  color: black;
}

#article-header-h1 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  text-align: center;
}

#stories li a:hover {
  background-color: rgb(0, 0, 0);
  font-size: larger;
  color: white;
  transition: 0.5s ease;
}

#stories {
  display: flex;
  justify-content: center;
}

#stories-list {
  display: flex;
  flex-direction: column;

  margin: 0px;
  padding: 0px;
  list-style-type: none;
  justify-content: center;
}

#stories-list ul {
  flex-direction: column;
}

#stories-list li {
  margin-top: 3rem;
}

#stories-list li a {
  letter-spacing: 2px;
  cursor: pointer;
}
