* {
  color: black;
}

#article-header {
  display: flex;
  justify-content: center;
}

#stories li a:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

#stories {
  display: flex;
  justify-content: center;
}

#stories-list {
  display: flex;
  flex-direction: column;

  margin: 0px;
  padding: 0px;
  list-style-type: none;
  justify-content: center;
}

#stories-list ul {
  flex-direction: column;
}

#stories-list li {
  margin-top: 3rem;
}

#stories-list li a {
  letter-spacing: 2px;
}
