#formdiv {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#formdiv textarea {
  width: 40vw;
  height: 40vh;
}

#formdiv #submit-story-btn {
  justify-content: center;
  align-items: center;
}
