body {
  height: 150vh;
}

#formdiv {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

#formdiv textarea {
  width: 40vw;
  height: 40vh;
}

#formdiv form {
  display: flex;
  flex-direction: column;
}

#formdiv * {
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

#formdiv #storyNameInput {
  width: 300px;
  height: 50px;
}

#formdiv #submit-story-btn {
  justify-content: center;
  align-items: center;
  width: 200px;
}

#show-articles {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#show-articles * {
  margin-bottom: 2rem;
  display: flex;
}

#show-articles ul {
  display: flex;
  flex-wrap: wrap;
  width: 5rem;
  justify-content: center;
}

#show-articles ul button {
  margin-left: 1rem;
  height: auto;
}

#delete-story-header {
  font-weight: 200;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
}
